.headerRow {
  margin: 2rem 0;
}
.headerRow span {
  color: #8c8d92;
  font-size: 24px;
  font-family: 'Londrina Solid';
}
.headerRow h1 {
  color: #14161b;
  font-size: 56px;
  font-family: 'Londrina Solid';
}
.headerRow h3 {
  color: #14161b;
  font-size: 28px;
  font-family: 'Londrina Solid';
  margin-bottom: 1.5rem;
}
.headerRow p {
  color: #14161b;
}

.primaryBtn {
  width: 100%;
  height: 4rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  border-radius: 12px;
  background-color: var(--brand-dark-red);
  border: var(--brand-dark-red);
}
.primaryBtn:focus,
.primaryBtn:hover {
  background-color: var(--brand-dark-red) !important;
  box-shadow: 0 0 0 0.2rem rgb(214, 60, 94, 0.75);
}
.primaryBtn:active {
  background-color: var(--brand-dark-red) !important;
}
.traitForm {
  height: 4rem;
}
.traitFormBtn {
  height: 100% !important;
  width: 100%;
  margin: 0.5rem 0;
  border-radius: 12px;
  background-color: white !important;
  border-color: #e2e3e8 !important;
  font-size: 18px;
  font-weight: bold;
  color: #14161b;
}
.traitFormBtn:hover,
.traitFormBtn:focus {
  border-color: #e2e3e8 !important;
  background-color: #f4f4f8 !important;
  box-shadow: none !important;
}
.floatingLabel,
.fileUpload {
  font-size: 15px;
  color: #8c8d92;
}
.nounImg {
  
}
.nounWrapper {
  margin-bottom: 1rem;
}
.proposals {
  display: flex;
  flex-direction: column;
}
.imgWrapper {
  margin-left: 1rem;
  margin-right: 1rem;
}
.proposals > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.heading {
  font-family: 'Londrina Solid';
  font-size: 40px;
  margin: 0 !important;
}

.generateBtn {
  max-width: 10rem;
  height: 3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  border-radius: 12px;
  background-color: var(--brand-color-green);
  border: var(--brand-color-green);
}
.generateBtn:focus,
.generateBtn:hover {
  background-color: var(--brand-color-green) !important;
  box-shadow: 0 0 0 0.2rem rgb(67, 179, 105, 0.75);
}
.generateBtn:active {
  background-color: var(--brand-color-green) !important;
}

.generateBtnDisabled {
  max-width: 10rem;
  height: 3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  border-radius: 12px;
  background-color: #f4f4f8;
  border: #f4f4f8;
  color: #8c8d92;
  border: 1px solid #e2e3e8;
}
.generateBtnDisabled:focus,
.generateBtnDisabled:hover,
.generateBtnDisabled:active {
  cursor: not-allowed;
  background-color: #f4f4f8 !important;
  border: #f4f4f8 !important;
  color: #8c8d92 !important;
  border: 1px solid #e2e3e8 !important;
  outline: none;
  box-shadow: none;
}

.proposalLink {
  padding: 1rem;
  margin-top: 0.4rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #e2e3e8;
  box-sizing: border-box;
  border-radius: 16px;
  background: #f4f4f8;
  font-size: 22px;
  font-family: 'PT Root UI';
  font-weight: bold;
}

.proposalInfoWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.proposalLink:hover{
  height: 300;
}
.proposalLink:hover {
  background: white;
  cursor: pointer;
}

.markdown h1 {
  font-size: 1.7rem;
  margin-top: 1rem;
  font-weight: bold;
}

.markdown h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
  font-weight: bold;
}

.markdown h3 {
  font-size: 1.3rem;
}

.markdown img {
  max-width: 100%;
  height: auto;
}

.nullStateCopy {
  margin-top: 0.9rem;
  margin-right: 1rem;
  font-family: 'PT Root UI';
  font-weight: 500;
  color: var(--brand-gray-light-text);
  font-size: 16px;
  line-height: 22.4px;
}

.mobileCountdownWrapper {
  display: none;
}

.desktopCountdownWrapper {
  display: flex;
}

.nounInWalletBtnWrapper {
  display: flex;
  padding-top: 0.8rem;
}

@media (max-width: 992px) {
  .desktopCountdownWrapper {
    display: none;
  }

  .mobileCountdownWrapper {
    display: flex;
    width: 100%;
    margin-top: 1rem;
  }

  .nullStateCopy {
    margin-top: 0rem;
  }

  .proposalTitle {
    max-width: 65%;
    overflow-wrap: break-word;
  }

  .nounInWalletBtnWrapper {
    width: 100%;
  }

  .headerWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .forceFlexRow {
    flex-direction: row;
  }

  .heading {
    width: 100%;
  }

  .nullStateSubmitProposalBtnWrapper {
    text-align: right;
  }
}

.nullBtnWrapper {
  min-width: 10rem;
}

.proposalId {
  color: #8c8d92;
  margin-right: 0.5rem;
}

.proposalTitle {
  width: 80%;
}
.tabelRankTitle {
  padding-left: 2rem;
  flex-grow: 0.6;
}
.tabelHeaderTitle {
  flex-grow: 8;
}
.tabelScoreTitle {
  text-align: right;
  margin-right: 1rem;
  flex-grow: 1;
  padding-right: 1.5rem;
}
.tabelScoreTitleText {
  margin-right: 0.5rem;
  margin-bottom: 0.1rem;
}
.proposalSLink {
  font-size: 12px;
  margin-left: 0.5rem;
}
.proposalScore {
  width: 20%;
  text-align: right;
}
.proposalName{
  vertical-align: text-top;
}
.proposalCategory {
  color: #8c8d92;
  font-size: 15px;
}
.proposalStatusWrapper {
  margin-left: 0.5rem;
  min-width: max-content;
}

.submitProposalButtonWrapper {
  text-align: right;
}

.nullStateSubmitProposalBtnWrapper {
  text-align: right;
}

.votePillWrapper {
  max-width: 5rem;
}

.countdownPill {
  background-color: var(--brand-gray-light-text-translucent);
  color: #00000080;
  width: fit-content;
  margin-left: -0.5rem;
}

.countdownPillContentWrapper {
  display: flex;
  flex-direction: row;
}

.countdownPillClock {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
}

.countdownPillText {
  margin-left: 0.25rem;
}

.delegateBtnWrapper {
  padding-left: 0.5rem;
}

.changeDelegateBtn {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgb(95, 95, 95);
  max-width: 10rem;
  height: 3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  border-radius: 12px;
}

.changeDelegateBtn:focus,
.changeDelegateBtn:hover {
  background-color: #e2e3e8;
  color: black;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.changeDelegateBtn:active {
  background-color: #e2e3e8 !important;
}
.nogglesIcon {
  margin-left: 5;
  width: 1.3rem;
  border: 1px;
  padding: 3px;
  
  background-image: radial-gradient(122.5% 122.5% at 50% 7.5%,#d63384 0%, #6f42c1 100%);
  border-radius: 50%;
}